---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
	<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
	{% if page.author %} • 
		<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
	{% endif %}
    	{% for tags in page.tags %}
          <a href="/tags/#{{tags | url_encode}}">{{tags}}</a>
        {% endfor %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

<link rel="stylesheet" href="/github-markdown.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
  <br>
  <center><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Comment</button></center>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Comments</h4>
        </div>
        <div class="modal-body">
          <div id="comments" style="max-height:300px;overflow:scroll;overflow-x:hidden;">
            <script type="text/javascript" src="/comment.js"></script>
	    <script type="text/javascript">
               DoGithubComments({{ page.issueid }},1);
            </script>
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0)" id="gh-load-comments" class="btn" style="display:none;">Load more comments</a>
          <p style="display:inline;">Want to leave a comment? Visit <a href="https://github.com/LEXUGE/LEXUGE-comment/issues/{{ page.issueid }}"> this post's issue page on GitHub</a></p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>
  <br>

</article>
